﻿@model TotalCoin.Web.Models.AdministrarFanpagesModel
@{
    ViewBag.Title = "ListarFanpages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
    <script type="text/javascript" src="https://az653149.vo.msecnd.net/static/totalcoinstore/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/bootstrap-switch.css")">

    <script>
        $(function () {
            $("[class='my-checkbox']").bootstrapSwitch({
                size: "mini"
            });
        });

            
    </script>

}

@section Body{

    @if (Model.NuevaTienda)
    {
        <section class="">
            <div class="container">
                <div class="row bs-wizard" style="border-bottom:0;">
                    <!--
                    ESTADOS DE LOS PASOS:
                     - active
                     - disable
                     - complete
                    -->

                    <div class="col-xs-4 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">Cre&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step complete">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Agreg&aacute; tus productos</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step active">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Vincul&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
            </div>
        </section> <!-- end our-work-container -->
    }
    <section>
        <div class="container">
            <div class="row" style="">
                <div class="col-sm-12">
                    <h1 class="Titulo">Integr&aacute; tu tienda con tus fanpages</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tus Fanpages</h3>
                        </div>
                        @using (Html.BeginForm("Guardar", "Fanpage", FormMethod.Post, new { id = "form" }))
                        {
                            <table class="table table-striped" id="dev-table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Fanpages.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Model.Fanpages[i].Nombre
                                            <td>
                                                @Html.HiddenFor(m => m.Fanpages[i].Id)
                                                @Html.HiddenFor(m => m.Fanpages[i].Nombre)
                                                @Html.HiddenFor(m => m.Fanpages[i].PageToken)
                                                @Html.CheckBoxFor(m => m.Fanpages[i].Integrada, new { @class = "my-checkbox" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
					<nav id="nav"><div class="text-center"><ul class="pagination pagination-sm"></ul></div></nav>
                </div>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-sm-12">
                    <a href="@(Model.NuevaTienda ? Url.Action("Index", "Producto") : Url.Action("Administrar", "Tienda"))" class="btn btn-default pull-left bot">VOLVER</a>
                    <a href="#" onclick="$('#form').submit()" class="btn btn-primary pull-right bot">FINALIZAR</a>
                </div>
            </div>
        </div>
    </section>
	<script>
        $(document).ready(function(){
            // $('#dev-table').after('');
            paginate();


            function paginate() {
                var rowsShown = 4;
                var rowsTotal = $('#dev-table tbody tr').length;
                var numPages = rowsTotal / rowsShown;
                $('#nav .pagination').html("");
                for (i = 0; i < numPages; i++) {
                    var pageNum = i + 1;
                    $('#nav .pagination').append('<li><a href="#" rel="' + i + '">' + pageNum + '</a></li>');
                }
                $('#dev-table tbody tr').hide();
                $('#dev-table tbody tr').slice(0, rowsShown).show();
                $('#nav a:first').addClass('active');
                $('#nav a').bind('click', function () {

                    $('#nav a').removeClass('active');
                    $(this).addClass('active');
                    var currPage = $(this).attr('rel');
                    var startItem = currPage * rowsShown;
                    var endItem = startItem + rowsShown;
                    $('#dev-table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                            css('display', 'block').animate({ opacity: 1 }, 300);
                });
            }
        });
    </script>
}