﻿@model TotalCoin.Web.Models.AdministrarFanpagesModel
@{
    ViewBag.Title = "ListarFanpages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
    <script type="text/javascript">
        var appId = '@Microsoft.Azure.CloudConfigurationManager.GetSetting(TotalCoin.ConfigurationManager.ConfigurationNames.FacebookAppId)';

        window.fbAsyncInit = function () {
            FB.init({
                appId: appId,
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var fbLogin = function () {
            FB.login(function (response) {
                if (response.status == 'connected') {
                    $("#accessToken")[0].value = response.authResponse.accessToken;
                    $("#signedRequest")[0].value = response.authResponse.signedRequest;
                    $("#userId")[0].value = response.authResponse.userID;
                    $("#nuevaTienda")[0].value = '@Model.NuevaTienda';
                    $("#fbForm").submit();
                } else {
                    $("#errorFb").show();
                }
            }, { scope: 'manage_pages', auth_type: 'reauthenticate' });
        };
    </script>

}

@section Body{

    @if (Model.NuevaTienda)
    {
        <section class="">
            <div class="container">
                <div class="row bs-wizard" style="border-bottom:0;">
                    <!--
                    ESTADOS DE LOS PASOS:
                     - active
                     - disable
                     - complete
                    -->

                    <div class="col-xs-4 bs-wizard-step complete">
                        <div class="text-center bs-wizard-stepnum">Cre&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step complete">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Agreg&aacute; tus productos</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step active">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Vincul&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
            </div>
        </section> <!-- end our-work-container -->
    }
    <section>
        <div class="container">
            <div class="row" style="">
                <div class="col-sm-12">
                    <h1 class="Titulo">Integr&aacute; tu tienda con tus fanpages</h1>
                </div>
            </div>
            <div class="row" id="Conectar" style="">
                <div class="col-sm-12">
                    <p>Conectá tu cuenta de Facebook para vincular tu tienda a tus fanpages: </p>
                    @using (Html.BeginForm("Index", "Fanpage", FormMethod.Post, new { @id = "fbForm" }))
                    {
                        <input type="hidden" name="AccessToken" id="accessToken" />
                        <input type="hidden" name="SignedRequest" id="signedRequest" />
                        <input type="hidden" name="UserId" id="userId" />
                        <input type="hidden" name="NuevaTienda" id="nuevaTienda" />
                    }
                    <button onclick="fbLogin();" class="btn btn-facebook"><i class="fa fa-facebook"></i> | Conectar  mi cuenta de Facebook</button>
                </div>
            </div>
            <div class="row" style="display:none;" id="errorFb">
                <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        Debes permitirnos el acceso a la informaci&oacute;n sobre sus fanpages para poder vincular.
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-sm-12">
                    <a href="@(Model.NuevaTienda ? Url.Action("Index", "Producto") : Url.Action("Administrar", "Tienda"))" class="btn btn-default pull-left bot">VOLVER</a>
                </div>
            </div>
        </div>
    </section>
}