﻿@{
    ViewBag.Title = "Tienda TotalCoin";
    Layout = "~/Views/Shared/_FacebookLayoutPage.cshtml";
}

@section Head{

<meta property="fb:app_id"          content="@Model.AppID" /> 
<meta property="og:url"             content='@String.Format("https://apps.facebook.com/{0}/{1}??fanpageId={2}", Model.AppID, Model.Id, Model.fanpageId)'/> 
<meta property="og:image"           content="@Model.Imagenes[0]" /> 
<meta property="og:description"     content="@Model.Descripcion" />
<meta property="og:title"           content="@Model.Nombre" /> 
    
}

@section Body{
<div ng-controller="detalleProducto" style="width:750px">
    <section>
	    <div class="container">
		    <div class="row" style="margin-top:20px;margin-bottom:20px">
			    <div class="col-sm-12" ng-if="enTienda">
				    <a href="@Url.Action("VerTienda", "Tienda")" class="btn btn-default pull-left bot">VOLVER</a>
			    </div>
                <div class="col-sm-12" ng-if="!enTienda">
				    <a href="#" ng-click="goToFanpage()" class="btn btn-default pull-left bot">Ver todos los productos</a>
			    </div>
		    </div>
	    </div>
    </section>
    <section id="ProductoDetail">
        <div class="container" >
		    <div class="row">
			    <div class="col-sm-5">
				    <div class='zoom'>
					    <img ng-src="{{imagenActual || '@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/nofoto.jpg")' }}" class="img-responsive">
				    </div>
				    <div class="owl-carousel">
					    <div class="item" ng-repeat="imagen in producto.Imagenes">
						    <img ng-click="cambiarImagen(imagen)" ng-src="{{imagen}}" class="img-responsive">
					    </div>
				    </div>
			    </div>
			    <div class="col-sm-7 datos">
				    <div class="row" style="margin:0;">
					    <div class="fb-like" data-href='@String.Format("https://apps.facebook.com/{0}/{1}?fanpageId={2}", Model.AppID, Model.Id, Model.fanpageId)' data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
					    <h2>{{producto.Nombre}}</h2>
					    <h3>{{producto.Descripcion}}</h3>
					    <h4><strong>C&oacute;digo:</strong> {{producto.Codigo}}</h4>
					    <h4><strong>Stock:</strong> {{producto.Stock}}u.</h4>
					    <h1>$ {{producto.Precio | formatPrice}}</h1>
					</div>
					 <div class="row">
						<div class="form-group" style="float: left;  padding-top: 2px;">
						    <label>Cantidad:</label>
						    <select ng-model="cantidad" ng-options="cant for cant in cantidadCombo" class="form-control">
						    </select>
					    </div>
					    <a id="comprar" ng-disabled="producto.Stock < 1 || superoImporteMaximo" href="#" ng-click="comprar($event)" class="btn  btn-success has-spinner">
                            Comprar
                            <span class="spinner"><i class="fa fa-spin fa-refresh"></i></span>
					    </a>
				        <div style="clear: both;"></div>
                         <div ng-show="superoImporteMaximo">
                            <span style="color:red"></span>
							<div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Atenci&oacute;n!</strong> El importe máximo es de $ 10.000 .-.
                        </div>
				        </div>
                     </div>
				    <div class="row formas-pago">
					    <img ng-show="producto.FormasDePagoSeleccionadas.CREDITCARD" src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago1.png")" />
					    <img ng-show="producto.FormasDePagoSeleccionadas.CASH" src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago2.png")" />
                        <img ng-show="producto.FormasDePagoSeleccionadas.TOTALCOIN" src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago4.png")" />
				    </div>
			    </div>
		    </div>
	    </div>
    </section>
    <section>
	    <div class="container">
		    <div class="row">
			    <div class="col-sm-12">
				    <div class="fb-comments" data-width="100%" style="margin-left: -10px" data-href='@String.Format("https://apps.facebook.com/{0}/{1}??fanpageId={2}", Model.AppID, Model.Id, Model.fanpageId)' data-numposts="5" data-colorscheme="light"></div>
			    </div>
		    </div>
	    </div>
    </section>
</div>
}

@section Footer{
	<script>
	    var producto = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
	    var fanpageId = @Model.fanpageId;
	    var appID = @Model.AppID;
	    var enTienda = @Json.Encode(Model.EnTienda);
	</script>
}