﻿@{
    ViewBag.Title = "Tienda TotalCoin";
    Layout = "~/Views/Shared/_FacebookLayoutPage.cshtml";
}


@section Body{
    <section id="">
        <div class="container">
            <div class="row" style="margin-top:20px;margin-bottom:20px">
			    <div class="col-sm-12" id="enTienda" style="display: none;">
				    <a href="@Url.Action("VerTienda", "Tienda")" class="btn btn-default pull-left bot">VOLVER</a>
			    </div>
                <div class="col-sm-12" id="enCanvas" style="display: none;">
				    <a href="javascript:void(0);" id="redirectLink" class="btn btn-default pull-left bot">Ver todos los productos</a>
			    </div>
		    </div>
			<div class="row">
				<div class="col-sm-12">
					<div class="bg-info" id="Exitosa">
					    <h3><i class="fa fa-times"></i> Este producto ha sido eliminado de la tienda.</h3>
				    </div>
				</div>
			</div>
		</div>
	</section>
}

@section Footer{
<script type="text/javascript">
    $(function(){
        var fanpageId = @Model.fanpageId;
        var appID = @Model.AppID;
        var enTienda = @Json.Encode(Model.EnTienda);
        
        if(enTienda){
            $("#enTienda").show();
        } else {
            $("#enCanvas").show();
        }

        $("#redirectLink").click(function(){
            top.location.href = 'http://www.facebook.com/' + fanpageId + '?sk=app_' + appID;        
        });
    });
    
</script>
}