﻿@model TotalCoin.Web.Models.ListarProductosModel
@{
    ViewBag.Title = "ListarProductos";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
    <script type="text/javascript">
        var productos = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Productos));
        var paginaActual = @Model.Pagina;
        var cantPaginas = @Model.CantPaginas;
    </script>
}

@section Body{
    <div ng-controller="productoController">
        @if (Model.NuevaTienda)
        {
            <section class="">
                <div class="container">
                    <div class="row bs-wizard" style="border-bottom:0;">
                        <!--
                        ESTADOS DE LOS PASOS:
                         - active
                         - disable
                         - complete
                        -->

                        <div class="col-xs-4 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Cre&aacute; tu tienda</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-4 bs-wizard-step active">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Agreg&aacute; tus productos</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                        <div class="col-xs-4 bs-wizard-step disabled">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Vincul&aacute; tu tienda</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>
                    </div>
                </div>
            </section> <!-- end our-work-container -->
        }
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="Titulo">Cre&aacute;, edit&aacute; y elimin&aacute; tus productos</h1>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-12">
                        <a class="btn bot btn-primary" ng-click="agregarProductoModal();"><span style="font-size: 11px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar un nuevo producto</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Listado de productos</h3>
                                <div class="pull-right">
                                    <span class="clickable filter" data-toggle="tooltip" title="Filtrar productos" data-container="body">
                                        <i class="glyphicon glyphicon glyphicon-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" id="dev-table-product-filter" data-action="filter" ng-model="searchTextProducts" placeholder="Filtrar productos" />
                            </div>
                            <table class="table table-striped" id="dev-table-product">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Categor&iacute;a / Subcategor&iacute;a</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th class="hidden-xs">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="!productos.length">
                                        <td colspan="5" style="max-height: none; max-width: none;  width: 100%;  white-space: normal;">
                                            <div>
                                                <div class="alert custom danger">
                                                    <strong>¡Atención!</strong> No se encontraron registros.
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="producto in productos">
                                        <td>{{producto.Nombre}}</td>
                                        <td>{{producto.Categoria.Nombre}} / {{producto.Subcategoria.Nombre}}</td>
                                        <td>$ {{producto.Precio | formatPrice}}</td>
                                        <td>{{producto.Stock}}</td>
                                        <td>
                                            <a href="javascript:void(0);" ng-click="editarProductoModal(producto)"><span title="Editar" class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            <a href="javascript:void(0);" ng-click="eliminarProductoModal(producto)"><span title="Eliminar" class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <nav>
                        <div class="text-center">
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="javascript:void(0)" ng-click="paginaAnterior()" aria-label="Previous" ng-show="paginaActual != 1 && paginaActual">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <span aria-hidden="true" ng-hide="paginaActual != 1 && paginaActual">&laquo;</span>
                                </li>
                                <li ng-repeat="i in cantidadDePaginasArray track by $index">
                                    <a href="javascript:void(0)" ng-click="irAPagina($index + 1)" ng-show="$index+1 != paginaActual">{{$index+1}}</a>
                                    <span ng-hide="$index+1 != paginaActual">{{$index+1}}</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="paginaSiguiente()" aria-label="Next" ng-show="paginaActual != cantPaginas">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <span aria-hidden="true" ng-hide="paginaActual != cantPaginas">&raquo;</span>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="row" style="">
                    <div class="col-sm-12">
                        <a href="@(Model.NuevaTienda ? Url.Action("EditarTienda", "Tienda") : Url.Action("Administrar", "Tienda"))" class="btn bot btn-default pull-left">VOLVER</a>
                        @if (Model.NuevaTienda)
                        {
                            <a href="@Url.Action("Login", "Fanpage", new { nuevaTienda = true })" class="btn bot btn-primary pull-right">SIGUIENTE</a>
                        }
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade modal-alert modal-alert-success" modal-show="showSuccessGuardar" auto-hide="true">
	      <div class="modal-dialog modal-sm">
		    <div class="modal-content">
			    <div class="modal-body">
				    <i class="fa fa-check-circle-o"></i> Su producto fue guardado con éxito.
			    </div>
		    </div>
	      </div>
	    </div>
        <div class="modal fade modal-alert modal-alert-success" modal-show="showSuccessEliminar" auto-hide="true">
	      <div class="modal-dialog modal-sm">
		    <div class="modal-content">
			    <div class="modal-body">
				    <i class="fa fa-check-circle-o"></i> Su producto fue eliminado con éxito.
			    </div>
		    </div>
	      </div>
	    </div>
	    <div class="modal fade modal-alert modal-alert-success" modal-show="showErrorEliminar" auto-hide="true">
	      <div class="modal-dialog modal-sm">
		    <div class="modal-content">
			    <div class="modal-body">
				    <strong>¡Ups!</strong> ha sucedido un error inesperado. Por favor intentá nuevamente.
			    </div>
		    </div>
	      </div>
	    </div>

        <!-- Modal -->
        <div modal-show="showAddDialog" call-close-function="true" class="modal fade bs-example-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="formProducto">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="hideAddDialog()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Agregar producto</h4>
                        </div>
                        <div class="row" ng-show="showErrorGuardar">
                            <div class="col-sm-12" >
					            <div class="alert alert-danger alert-dismissible" role="alert">
					                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					                <strong>&iexcl;Ups!</strong> ha sucedido un error inesperado. Por favor intent&aacute; nuevamente.
					            </div>
                            </div>
				        </div>
                        <div class="modal-body">
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul id="TabProducto" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" onclick="return false;" aria-controls="home" role="tab"><i class="fa fa-list"></i><span>Descripci&oacute;n</span></a></li>
                                    <li role="presentation"><a href="#cate" onclick="return false;" aria-controls="cate" role="tab"><i class="fa fa-tags"></i><span>Categor&iacute;as</span></a></li>
                                    <li role="presentation"><a href="#profile" onclick="return false;" aria-controls="profile" role="tab"><i class="fa fa-picture-o"></i><span>Im&aacute;genes</span></a></li>
                                    <li role="presentation"><a href="#messages" onclick="return false;" aria-controls="messages" role="tab"><i class="fa fa-money"></i><span>Formas de pago</span></a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="row" style="">
                                            <form name="formDescripcion" novalidate>
                                                <div class="col-sm-12">
												    <div class="col-xs-6 ">
													    <div class="form-group">
														    <label for="NombreProducto">Nombre (*)</label>
                                                            <input name="nombre" allow-only-alphanumeric-dash="productoEdicion.Nombre" ng-model="productoEdicion.Nombre" type="text" class="form-control" id="NombreProducto" placeholder="Ej: Pelota de futbol" required>
														    <span class="error-mark error-right" ng-show="formDescripcion.nombre.$dirty && formDescripcion.nombre.$invalid">
                                                                <span data-toggle="tooltip" title="El nombre del producto es requerido." class="glyphicon glyphicon-remove"></span>
														    </span>
													    </div>
												    </div>
												    <div class="col-xs-6 ">
													    <div class="form-group">
														    <label for="C&oacute;digoProducto">C&oacute;digo del producto</label>
														    <input ng-model="productoEdicion.Codigo" type="text" class="form-control" id="CodigoProducto" placeholder="Seleccion&aacute; un c&oacute;digo para identificar tu producto" name="codigo">
													    </div>
												    </div>
												    <div class="col-xs-12">
													    <div class="form-group">
														    <label for="DescripcionProducto">Descripcion (*)</label>
                                                            <input allow-only-alphanumeric-dash="productoEdicion.Descripcion" ng-model="productoEdicion.Descripcion" type="text" class="form-control" id="DescripcionProducto" placeholder="Escrib&iacute; una breve descripci&oacute;n de tu producto" required name="descripcion">
														    <span class="error-mark error-right" ng-show="formDescripcion.descripcion.$dirty && formDescripcion.descripcion.$invalid">
                                                                <span data-toggle="tooltip" title="La descripción del producto es requerida." class="glyphicon glyphicon-remove"></span>
														    </span>
													    </div>
												    </div>
												    <div class="col-xs-6">
													    <div class="form-group">
														    <label for="PrecioProducto">Precio (*)</label>
														    <input max="10000" decimales="2" custom-auto-numeric="productoEdicion.Precio" ng-model="productoEdicion.Precio" type="text" class="form-control" id="PrecioProducto" placeholder="Precio del producto" required name="precio">
														    <span class="error-mark error-right" ng-show="formDescripcion.precio.$dirty && formDescripcion.precio.$invalid">
														        <span data-toggle="tooltip" title="El precio del producto es requerido" class="glyphicon glyphicon-remove" ng-show="formDescripcion.precio.$error.required"></span>
															    <span data-toggle="tooltip" title="El precio mínimo del producto es 0" class="glyphicon glyphicon-remove" ng-show="formDescripcion.precio.$error.min"></span>
															    <span data-toggle="tooltip" title="El precio máximo del producto es 10.000" class="glyphicon glyphicon-remove" ng-show="formDescripcion.precio.$error.max"></span>
                                                            </span>
													    </div>
												    </div>
												    <div class="col-xs-6">
													    <div class="form-group">
														    <label for="StockProducto">Stock (*)</label>
                                                            <input decimales="0" custom-auto-numeric="productoEdicion.Stock" ng-model="productoEdicion.Stock" type="text" class="form-control" id="StockProducto" placeholder="Ingres&aacute; la cantidad de unidades disponibles" required name="stock">
														    <span class="error-mark error-right" ng-show="formDescripcion.stock.$dirty && formDescripcion.stock.$invalid">
														        <span data-toggle="tooltip" title="El stock del producto es requerido" class="glyphicon glyphicon-remove" ng-show="formDescripcion.stock.$error.required"></span>
															    <span data-toggle="tooltip" title="El stock mínimo del producto es 0" class="glyphicon glyphicon-remove" ng-show="formDescripcion.stock.$error.min"></span>
															    <span data-toggle="tooltip" title="El stock debe ser un número" class="glyphicon glyphicon-remove" ng-show="formDescripcion.stock.$error.number"></span>
                                                            </span>
													    </div>
												    </div>
												    <div class="col-xs-12">
													
													    <div class="form-group">
														    Todos los campos marcados con (*) son obligatorios.
													    </div>
												    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="cate">
                                        <div class="row" style="">
                                            <form name="formCategoria" novalidate>
                                                <div class="col-sm-12">
												    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label for="NombreProducto">Categor&iacute;a (*)</label>
                                                            <select name="productoCategoria" ng-model="productoEdicion.Categoria" ng-options="categoria.Nombre for categoria in categorias" class="form-control" required>
                                                                <option value="">Seleccione...</option>
                                                            </select>
        												    <span class="error-mark error-right" ng-show="formCategoria.productoCategoria.$dirty && formCategoria.productoCategoria.$invalid">
														        <span data-toggle="tooltip" title="La categoría del producto es requerida." class="glyphicon glyphicon-remove" ng-show="formCategoria.productoCategoria.$error.required"></span>
                                                            </span>
                                                        </div>
												
												    </div>
												    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label for="NombreProducto">Subcategor&iacute;a (*)</label>
                                                            <select name="productoSubcategoria" ng-model="productoEdicion.Subcategoria" ng-options="subcategoria.Nombre for subcategoria in productoEdicion.Categoria.Subcategorias" class="form-control" required>
                                                                <option value="">Seleccione...</option>
                                                            </select>
        												    <span class="error-mark error-right" ng-show="formCategoria.productoSubcategoria.$dirty && formCategoria.productoSubcategoria.$invalid">
														        <span data-toggle="tooltip" title="La subcategoría del producto es requerida." class="glyphicon glyphicon-remove" ng-show="formCategoria.productoSubcategoria.$error.required"></span>
                                                            </span>
                                                        </div>
												    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <!--<div class="row" id="ImgsProducto" style="">
                                                <img src="img/upload.png" style="width:100%" />
                                        </div>-->
                                        <form name="formImagenes" novalidate>
                                            <div class="row" id="ImgsProducto" sortable sortable-child-class="'.img'" sort-function="updateOrdenImagenes">

                                                <h3>Arrastr&aacute; las imagenes de tu producto para agregarlas a la publicación:</h3>
						                        <div class="img" data-pos="1">
                                                    <div class="dropzone" dropzone
                                                        upload-url="'@Url.Action("GuardarImagen")'"
                                                        update-model="productoEdicion.imagenes.imagenUno"
                                                        success-function="updateOrdenImagenes"
                                                        clean-thumbnails="cleanThumbnails"
                                                        set-image="productoEdicion.ImagenesEditar[0]">
							                        </div>
                                                    <input type="hidden" class="imgSrc" ng-value="productoEdicion.imagenes.imagenUno" />
						                        </div>
						                        <div class="img" data-pos="2">
                                                    <div class="dropzone" dropzone
                                                         upload-url="'@Url.Action("GuardarImagen")'"
                                                         update-model="productoEdicion.imagenes.imagenDos"
                                                         success-function="updateOrdenImagenes"
                                                         clean-thumbnails="cleanThumbnails"
                                                         set-image="productoEdicion.ImagenesEditar[1]">
                                                    </div>
                                                    <input type="hidden" class="imgSrc" ng-value="productoEdicion.imagenes.imagenDos" />
						                        </div>
						                        <div class="img" data-pos="3">
                                                    <div class="dropzone" dropzone
                                                         upload-url="'@Url.Action("GuardarImagen")'"
                                                         update-model="productoEdicion.imagenes.imagenTres"
                                                         success-function="updateOrdenImagenes"
                                                         clean-thumbnails="cleanThumbnails"
                                                         set-image="productoEdicion.ImagenesEditar[2]">
                                                    </div>
                                                    <input type="hidden" class="imgSrc" ng-value="productoEdicion.imagenes.imagenTres" />
						                        </div>
						                        <div class="img" data-pos="4">
                                                    <div class="dropzone" dropzone
                                                         upload-url="'@Url.Action("GuardarImagen")'"
                                                         update-model="productoEdicion.imagenes.imagenCuatro"
                                                         success-function="updateOrdenImagenes"
                                                         clean-thumbnails="cleanThumbnails"
                                                         set-image="productoEdicion.ImagenesEditar[3]">
                                                    </div>
                                                    <input type="hidden" class="imgSrc" ng-value="productoEdicion.imagenes.imagenCuatro" />
						                        </div>
						                        <div class="img" data-pos="5">
                                                    <div class="dropzone" dropzone
                                                         upload-url="'@Url.Action("GuardarImagen")'"
                                                         update-model="productoEdicion.imagenes.imagenCinco"
                                                         success-function="updateOrdenImagenes"
                                                         clean-thumbnails="cleanThumbnails"
                                                         set-image="productoEdicion.ImagenesEditar[4]">
                                                    </div>
                                                    <input type="hidden" class="imgSrc" ng-value="productoEdicion.imagenes.imagenCinco" />
						                        </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="messages">
                                        <div class="row" style="">
                                            <form name="formFormasDePago" novalidate>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="formaPago" ng-model="productoEdicion.FDPSeleccionadas.CREDITCARD" type="checkbox"> <img class="hidden-xs" src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago1.png")" />
															     <img class="hidden-sm hidden-md hidden-lg" src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago1-mobile.png")" />
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="formaPago" ng-model="productoEdicion.FDPSeleccionadas.CASH" type="checkbox"> <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago2.png")" />
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="formaPago" ng-model="productoEdicion.FDPSeleccionadas.TOTALCOIN" type="checkbox">  <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/Pago4.png")" />
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <span class="error-mark" ng-show="formFormasDePago.formaPago.$dirty && formFormasDePago.formaPago.$invalid">
												        <span data-toggle="tooltip" title="Debe seleccionar al menos una forma de pago para el producto" class="glyphicon glyphicon-remove" ng-show="formFormasDePago.formaPago.$error.minimoRequerido"></span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" ng-click="hideAddDialog()">Cerrar</button>
                            <button ng-hide="primerStep()" type="button" class="btn bot btn-primary" ng-click="anteriorForm()">Anterior</button>
                            <button ng-hide="ultimoStep()" ng-disabled="!allowNext()" type="button" class="btn bot btn-primary" ng-click="siguienteForm()">Siguiente</button>
                            <button ng-disabled="loading || !allowSave()" type="button" class="btn bot btn-primary" ng-hide="productoEdicion.Id || !ultimoStep()" ng-click="insertarProducto()">Guardar</button>
                            <button ng-disabled="loading || !allowSave()" type="button" class="btn bot btn-primary" ng-show="productoEdicion.Id && ultimoStep()" ng-click="editarProducto()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div modal-show="showRemoveDialog" class="modal fade bs-example-modal-sm">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Eliminar producto</h4>
                    </div>
                    <div class="modal-body">
                        &iquest;Est&aacute;s seguro de que quer&eacute;s borrar este producto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="hideRemoveDialog()">Cerrar</button>
                        <button type="button" class="btn btn-danger" ng-click="eliminarProducto()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>			
		
		/*$( window ).resize(function() {
		  resize_iu();
		});
		resize_iu();*/
		function resize_iu(){
		if($( window ).width()<720){
			$( "#ImgsProducto .img" ).css("height",$( "#ImgsProducto .img" ).width());
			$( "#ImgsProducto .img" ).css("line-height",$( "#ImgsProducto .img" ).width()+"px");
			$( ".dz-image" ).each(function( index ) {
				$( this ).css("height",$( "#ImgsProducto .img" ).width()-4);
				$( this ).css("width",$( "#ImgsProducto .img" ).width());
			});
			$( ".dropzone .dz-preview" ).css("min-height","initial");   
			$( "#ImgsProducto .img img" ).css("height",$( "#ImgsProducto .img" ).width()-4);
			}
		}
	</script>
}