/*
|--------------------------------------------------------------------------
| Features Styles
|--------------------------------------------------------------------------
|
|
|
*/
body{
  color: rgb(14, 80, 144);
  
  background: #fdfbfc;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
   
	  border: 0;
  color: #fff;
  border-radius:0;
  }
.btn-default{  
   background-color: #00cfff;
   }
.btn-default.bot:hover {
  background-color: #03b9e3;
  color: #fff;
}
.btn-default.bot:focus{
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.features-container .feature-list {
  margin-left: 30px;
  margin: 0;
}

.features-container li.feature-items.v2 {
  width: 6.66%;
  line-height: 140px;
}

.features-container li.feature-items {
  float: left;
  width: 20%;
  list-style: none;
}

.features-container li.feature-items .feature-content .title {
  color: #606b74;
}

.features-container li.feature-items .feature-content .title span {
  display: inline-block;
  border-bottom: 1px solid #DDE0E3;
}

.features-container li.feature-items .feature-content .content {
  font-size: 12px;
  color: #606b74;
  line-height: 20px;
}

.features-container li.feature-items .feature img {
  border: 1px solid #dde0e3;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;

}


.features-container li.feature-items:hover .feature.rocket img {
  border: 1px solid #3c86c3;
}

.features-container li.feature-items .feature.camera img {

float: left;
}

.features-container li.feature-items:hover .feature.camera img {
  border: 1px solid #7aad75;
}

.features-container li.feature-items:hover .feature.graduate img {
  border: 1px solid #ce7370;
}

.features-container li.feature-items:hover .feature.settings img {
  border: 1px solid #ef8d61;
}

.our-work-container .our-work-inner-container .title {
  margin-bottom: 20px;
  margin-top: 48px;
  font-size: 18px;
  color: #00649D;
}

.our-work-container .our-work-inner-container .content {
  font-size: 14px;
  color: #606b74;
  line-height: 24px;
}


.our-work-container .features-container.v2.last {
  padding-bottom: 0;
}

.our-work-container .features-container.v2 {
  position: relative;
  margin-top: 20px;
}
.our-work-container .col-sm-4 .features-container.v2 {
  position: relative;
  margin-top:0px;
}


.our-work-container .features-container.v2 .arrow1 {
    position: absolute;
  top: 23px;
  left: -321px;;
}

.our-work-container .features-container.v2 .arrow2 {
   position: absolute;
  top: 73px;
  right: -324px;
}
.our-work-container .features-container.v2 .arrow3 {
  position: absolute;
  top: 120px;
  left: -530px;
}

.our-work-container .features-container.v2 .feature-list .feature-items {
  float: none;
  width: 100%;
}

.custom-messages .alert-success {
  background-color: #e9f2d3;
  border: 1px solid #c9d6b1;
}

.custom-messages .alert-success .alert-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #54b373;
}

.custom-messages .alert-success .alert-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.custom-messages .alert-success p {
  font-size: 12px;
  color: #8aaf38;
}

.custom-messages .alert-warning {
  background-color: #fff4b8;
  border: 1px solid #dbd8c0;
}

.custom-messages .alert-warning .alert-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #c4a612;
}

.custom-messages .alert-warning .alert-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.custom-messages .alert-warning p {
  font-size: 12px;
  color: #c3a512;
}

.custom-messages .alert-error {
  background-color: #fee9e9;
  border: 1px solid #f5b8b9;
}

.custom-messages .alert-error .alert-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #e75655;
}

.custom-messages .alert-error .alert-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.custom-messages .alert-error p {
  font-size: 12px;
  color: #d15e5e;
}

.custom-messages .alert-info {
  background-color: #dce9f3;
  border: 1px solid #abc7dc;
}

.custom-messages .alert-info .alert-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #4899d0;
}

.custom-messages .alert-info .alert-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.custom-messages .alert-info p {
  font-size: 12px;
  color: #5695c2;
}

/*
|--------------------------------------------------------------------------
| Title Separator Styles
|--------------------------------------------------------------------------
|
|
|
*/

.title-separator {
  margin: 40px 0;
}

.title-separator .title {
  font-size: 12px;
  color: #868f97;
  text-transform: uppercase;
  border-top: 1px solid #dde0e3;
}

.title-separator .title span {
  position: relative;
  top: -10px;
  display: inline-block;
  padding: 0 10px;
  background-color: #f1f3f5;
}

.title-separator .content {
  font-size: 12px;
  color: #606b74;
}
.center {
text-align: center;
line-height: 20px;

}
.row {
  margin-top: 0;
  padding: 0 10px;
}
@media (max-width: 768px) {
	.row {
	text-align:center
	}
	.features-container li.feature-items .feature  img{
	float:none !important;
	margin:20px 0;
	display:none;
	}
	.features-container .feature-list{
	margin:0;
  padding: 0px;}
}