body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(22, 76, 138);
    background-color: #fdfbfc;
}

.container{padding-right:0;padding-left:0;width: auto;
}

    body.fbapp {
        background-color: #fff;
    }

.btn-primary {
    /* background-color:#00649D;*/
    background-color: #00cfff;
    border-color: #00cfff;
    color: #FFF;
    text-transform: uppercase;
}


.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    margin-right: 15px;
    padding-left: 36px;
}

.btn-arrow-left {
    padding-right: 36px;
    margin-left: 15px;
}

    .btn-arrow-right:before,
    .btn-arrow-right:after,
    .btn-arrow-left:before,
    .btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
        content: "";
        position: absolute;
        top: 5px; /* move it down because of rounded corners */
        width: 22px; /* same as height */
        height: 22px; /* button_outer_height / sqrt(2) */
        background: inherit; /* use parent background */
        border: inherit; /* use parent border */
        border-left-color: transparent; /* hide left border */
        border-bottom-color: transparent; /* hide bottom border */
        border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
    }

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: #fdfbfc;
}

.bs-wizard {
   /*margin-top: 40px;*/
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #2a8fc8;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #00649D;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #2a8fc8;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
/*END Form Wizard*/

/*Table*/
.row {
    /*margin-top: 40px;*/
    padding: 0 10px;
}
.modal .row {
margin-top: 40px;
}
.modal h3{
margin-top: 40px;
}
.clickable {
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

    .panel-heading div span {
        margin-left: 5px;
    }

.panel-body {
    display: none;
}
/*End Table*/

.modal-dialog {
    width: 800px;
	margin-bottom:0;
}

.modal-sm {
    width: 450px;
}

.modal-content {
    border-radius: 0px;
}

#TabProducto {
    border-bottom: 2px solid #0e5090;
    margin-bottom: 0px;
}

    #TabProducto li {
        width: 25%;
        text-align: center;
    }
	#TabProducto li i{
	display:none;
	}
    #TabProducto > li.active > a, #TabProducto > li.active > a:link {
        color: #fff;
        background-color: #0e5090;
    }

    #TabProducto > li > a {
        line-height: 40px;
        margin: 0;
        padding: 0 15px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 0 !important;
        border-radius: 0;
        outline: none;
        color: #0e5090;
        background-color: #eeeeee;
        text-transform: uppercase;
    }

    #TabProducto > li {
    }
#ImgsProducto {
margin:0;
padding:0;
}
#ImgsProducto .img {
    border: 2px dashed #ddd;
    margin: 2px;
    width: 149px;
    height: 149px;
    float: left;
    line-height: 149px;
    text-align: center;
    font-size: 35px;
    color: #00649D;
}
@media (max-width: 768px) {
	#ImgsProducto .img {
		width: 25%;
	}
}
    #ImgsProducto .img:nth-of-type(1) {
        border: 2px dashed rgb(14, 80, 144);
    }

        #ImgsProducto .img:nth-of-type(1):after {
            content: "\e089";
            font-family: 'Glyphicons Halflings';
            float: left;
            font-size: 24px;
            height: 24px;
            line-height: 24px;
            margin-top: -142px;
            margin-left: 3px;
            z-index: 9999;
            position: relative;
        }

.bg-success {
    padding: 15px;
}
/*
.btn-success {
  color: #0e5090;
  border: 1px solid #0e5090;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-color: #ccc;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  text-transform: uppercase;
	  border: 0;
  color: #fff;
  border-radius:0;
  }
  
.btn-default, .btn-primary{  
   background-color: #00cfff;
   }
.btn.bot:hover {
  background-color: #03b9e3;
  color: #fff;
}
.btn-default.bot:focus{
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover{
cursor:not-allowed
}
#ImgsProducto .img img {
    max-width: 145px;
    float: left;
    max-height: 145px;
}

.modal-header, .modal-footer {
    border: none;
}

#OpcionesHome {
    list-style: none;
}

    #OpcionesHome h3 {
        font-size: 30px;
    }

    #OpcionesHome li {
        padding-top: 15px;
        height: 100px;
    }

/* Sistema 5 columnas*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    /*    padding-right: 10px;
    padding-left: 10px;*/
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
        font-size: 14px;
        height: 0px;
        padding-top: 13px;
        background-color: #fff;
    }

    #custom-search-input button {
        margin: 0 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 14px;
    }

#Listado-tienda {
    padding-top: 20px;
}

#Listado-tienda .thumbnail{
    height: 271px;
    padding: 10px;
}

#Listado-tienda .thumbnail .col-sm-12{
    padding: 0px;
}

    #Listado-tienda .row {
        margin: 0;
        padding: 0 6px 0 5px;
    }

    #Listado-tienda .col-sm-3 {
        padding: 0 5px;
    }

    #Listado-tienda h5 {
      min-height: 29px;
      text-align: center;
      margin: 3px 0px;
	
  max-height: 29px;
  overflow: hidden;
     }
     #Listado-tienda .price h5 {
        min-height:inherit;
     }
     #Listado-tienda label{
        margin:0
     }

    #Listado-tienda .like {
        text-align: center;
    }

    #Listado-tienda a {
        text-decoration: none;
    }

#ProductoDetail .pago{
  margin: 5px 17px;
}
#ProductoDetail .pago:nth-of-type(1),#ProductoDetail .pago:nth-of-type(2){
 /* height: 18px;
  display: block;*/
  margin: 5px 0;
}

#ProductoDetail .datos .row {
    margin: 10px 0;
}

#ProductoDetail .datos h1{
  font-size: 20px;
  margin-bottom: 21px;
  font-weight: 600;
  color:#5cb85c;
}

#ProductoDetail .datos h2 {
    font-size: 21px;
}

#ProductoDetail .datos h3 {
    font-size: 14px;
    margin: 0 0 20px 0;
}

#ProductoDetail .datos h4 {
    font-size: 14px;
}

#ProductoDetail .datos label {
    float: left;
    line-height: 30px;
    padding-right: 5px;
}

#ProductoDetail .datos select {
    width: 64px;
    height: 30px;
    float: left;
}

#ProductoDetail #comprar{
  padding: 6px 65px;
  float: left;
  margin: 0 0 0 20px;;
}
#ProductoDetail #comprar.disabled,#ProductoDetail #comprar[disabled],#ProductoDetail #comprar.disabled:hover{
  background-color: #AFAFAF;
  cursor: not-allowed;
}
.box > .icon {
    text-align: center;
    position: relative;
}

    .box > .icon > .image {
        position: relative;
        z-index: 2;
        margin: auto;
        width: 88px;
        height: 88px;
        border: 8px solid white;
        line-height: 88px;
        border-radius: 50%;
        background: #00649D;
        vertical-align: middle;
    }

        .box > .icon > .image.hover {
            background: #00cfff;
        }

        .box > .icon > .image > i {
            font-size: 36px !important;
            color: #fff !important;
            line-height: 73px;
            text-align: center;
            width: 73px;
            height: 73px;
        }

    .box > .icon.hover > .image > i {
        color: white !important;
    }

    .box > .icon > .info {
        margin-top: -24px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #D2D2D2;
        padding: 15px 0 10px 0;
    }

    .box > .icon.hover > .info {
        background: rgba(0, 0, 0, 0.04);
        border-color: #e0e0e0;
        color: white;
    }

    .box > .icon > .info > h3.title {
        font-size: 16px;
        color: #00649D;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        font-size: 13px;
        color: #00649D;
        line-height: 1.5em;
  min-height: 38px;
        margin: 20px;
    }

    .box > .icon > .info > .more a {
        font-size: 12px;
        color: #222;
        line-height: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .box > .icon > .info > .more > a:hover {
        color: #fff;
        padding: 6px 8px;
        background-color: #00cfff;
    }

.box .space {
    height: 30px;
}
@media (max-width: 768px) {
	.box > .icon > .info > p{
	  display: none;
	}
	.box > .icon > .image > i {
	  font-size: 20px !important;
	  color: #fff !important;
	  line-height: 32px;
	  text-align: center;
	  width: 45px;
	  height: 32px;
	}
	.box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 60px;
  height: 60px;
  border: 8px solid white;
  line-height: 54px;
  border-radius: 50%;
  background: #00649D;
  vertical-align: middle;
}
/*.checkbox img {height: 21px;
}*/
#ImgsProducto .img {

  width: 18%;
}
.dropzone .dz-preview {
 
  width: 100%;
  overflow: hidden;

}
td {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}

input[type="text"], input[type="number"], select.form-control {
    background-color: #f1f1f4;
    height: 30px;
    border: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;<
    color: #155ea5;
}

.form-group {
    margin-bottom: 20px;
}

.Titulo {
    font-size: 24px;
    margin:20px 0;
}

.btn-facebook {
  color: #ffffff;
  background-color: #133783;
  border-color: #133783;
}
.btn-facebook:hover{
  color: #ffffff;
  border-color: #337ab7;
  background-color: #337ab7;
}
/*.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vcenter div{
	min-height:160px;
}*/
div.vcenter {
    position:relative;
    width: 100%;
    height: 160px;
}

div.vcenter img{
    position:absolute;
    top:50%;
    margin-top: -80px;
    max-height: 100%;
}
.owl-carousel .item{
}

.field-validation-error {
    color: red;
}

.validation-summary-errors {
    color: Red;
}

.dropzone {
    height: 100%;
    min-height: 140px !important;
    width: 100%;
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
}

    .dropzone .dz-preview {
        margin: 0 !important;
    }

        .dropzone .dz-preview .dz-image {
            border-radius: 0 !important;
        }

.dz-details {
    display: none;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    bottom: 2px;
    width: 100%;
    z-index: 999;
    line-height: 14px;
}

.dropzone .dz-preview .dz-image {
/*    height: 145px !important;
    width: 145px !important;*/
}

.dz-error-message {
      width: 250px !important;
      line-height: 10px !important;
}
.dropzone .dz-preview .dz-error-message {
     top: 150px !important;
}
.dropzone .dz-preview .dz-error-message:after {
     top: -5px !important;
}

@media (max-width: 768px) {
.dropzone .dz-preview .dz-remove:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\f00d";
}

.dropzone .dz-preview .dz-remove {
  width: 11px;
  /* margin: auto; */
  overflow: hidden;
  margin: 5px;
  }
}
.dropzone .dz-message {
    margin: 0 !important;
}

.dropzone .dz-preview .dz-success-mark {
    display: none !important;
}

.no-visible {
    display: none;
}

.formas-pago img {
    margin-right: 15px;
    margin-bottom: 10px;
	height: 23px;

}
.zoom {
  height: 392px;
}
.zoom  img{
border:1px solid #eeeeee;
}
@media (max-width: 768px) {
.zoom{  height: 292px;}
}
@media (max-width: 768px) {
   .bs-example-modal-lg .modal-dialog,#TabProducto {
    width: 96%;
  } 
  
  #TabProducto li  span{
  display:none;
  }
  
	#TabProducto li i{
	display:block;
	
  line-height: 40px;
	}
}
table {
	width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

tbody {
	max-height: 222px;
	overflow-y: auto;
}
tbody td, thead th {
 float: left;
}

#dev-table-product thead tr {
    border-bottom: 2px solid #ddd;
}

#dev-table-product tbody tr {
    border-bottom: 1px solid #ddd;
}

#dev-table-product tbody tr:last-child {
    border-bottom: none;
}

#dev-table-product thead tr th, #dev-table-product tbody tr td{
    border: none;
    text-align: center;
}

#dev-table-product tbody td:nth-child(1),#dev-table-product thead th:nth-child(1) {

  text-overflow: ellipsis;
  max-width: 240px;
  max-height: 38px;
  overflow: hidden;
  white-space: pre;
	width: 25%;
}
#dev-table-product tbody td:nth-child(2),#dev-table-product thead th:nth-child(2) {

  text-overflow: ellipsis;
  max-width: 240px;
  max-height: 38px;
  overflow: hidden;
  white-space: pre;
	width: 25%;
}
#dev-table-product tbody td:nth-child(3),#dev-table-product thead th:nth-child(3) {

	width: 20%;
}
#dev-table-product tbody td:nth-child(4),#dev-table-product thead th:nth-child(4) {

   width: 20%;
}

#dev-table-product tbody td:nth-child(5),#dev-table-product thead th:nth-child(5) {
   width: 10%;
}
#dev-table tbody td:nth-child(1),#dev-table thead th:nth-child(1) {
width: 80%;
}
#dev-table tbody td:nth-child(2),#dev-table thead th:nth-child(2) {
	width: 20%;
}
@media (max-width: 768px) {
 #dev-table-product thead th {
/*  height: 58px;*/
  }
  }
.fb-like,.fb_iframe_widget{
    height: 20px;
    overflow: hidden;
}		

.alert-success {
  color: #216eb5;
  background-color: #d9edf6;
  border-color: #d9edf6;
}
.alert {
  border-radius: 0px;
}

.alert i{
    font-size: 21px;
    float: left;
    margin-right: 10px;
}
.bg-info {
  padding: 10px 30px 20px 30px;
  margin-bottom: 20px;
  text-align:center;
}


.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
.pagination>li>a, .pagination>li>span{
border:none;
}
.pagination {
margin:0}
.panel-primary {
border-color: transparent;
background-color: transparent;
}
.modal-alert-success .modal-content{
  color: #216eb5;
  background-color: #d9edf6;
  border-color: #d9edf6;
}
.modal-alert-danger .modal-content{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.error-mark {
  color: red;

}

.error-mark.error-right {
    margin-top: -24px;
  float: right;
  margin-right: -20px;
}

.error-mark .tooltip{
    width: 300px;
}

.error-mark .tooltip-inner{
    max-width: 300px;
}

#TabProducto a {
    cursor: default;
}

.dataTables_filter {
display: none;
}

.alert.custom.danger{
    color: #fff;
    font-size: 16px;
    background-color: #fe6d1a;
    border-color: #d6e9c6;
    color: #fff;
    font-size: 16px;
}