﻿@model TotalCoin.Web.Models.AdministrarTiendaModel
@{
    ViewBag.Title = "Administrar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
<script type="text/javascript">
    var appId = '@Microsoft.Azure.CloudConfigurationManager.GetSetting(TotalCoin.ConfigurationManager.ConfigurationNames.FacebookAppId)';

    window.fbAsyncInit = function () {
        FB.init({
            appId: appId,
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var fbLogin = function () {
        FB.login(function (response) {
            if (response.status == 'connected') {
                $("#accessToken")[0].value = response.authResponse.accessToken;
                $("#signedRequest")[0].value = response.authResponse.signedRequest;
                $("#userId")[0].value = response.authResponse.userID;
                $("#fbForm").submit();
            }
        }, { scope: 'manage_pages, publish_pages' });
    };
</script>
    <script>
        $(document).ready(function () {
            $("a", ".more").mouseover(function () {
                $(".image", $(this).parent().parent().parent()).addClass("hover");
            });
            $("a", ".more").mouseleave(function () {
                $(".image", $(this).parent().parent().parent()).removeClass("hover");
            });
        });
    </script>
}

@section Body{
    <section>
        <div class="container">
            <div class="row">
                @if (Model.NuevaTienda)
                {
                    <div class="col-sm-12">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Felicitaciones!</strong> tu tienda ha sido creado con &eacute;xito.
                        </div>
                    </div>
                }
                @if (Model.NombreEditado)
                {
                    <div class="col-sm-12">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            @using (Html.BeginForm("Actualizar", "Fanpage", FormMethod.Post, new { @id = "fbForm" }))
                            {
                                <input type="hidden" name="AccessToken" id="accessToken" />
                                <input type="hidden" name="SignedRequest" id="signedRequest" />
                                <input type="hidden" name="UserId" id="userId" />
                            }
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Atenci&oacute;n!</strong>  Para que los cambios en el nombre de tu Tienda y la imagen del Tab impacten en tus Fanpages, deberás <a href="#" onclick="fbLogin();">conectarte a tu cuenta de Facebook</a>.
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Boxes de Acoes -->
                <div class="col-sm-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="glyphicon glyphicon-shopping-cart"></i></div>
                            <div class="info">
                                <h3 class="title">Edit&aacute; tu tienda</h3>
                                <p>
                                    Edit&aacute; el nombre de tu tienda o la imagen para tu tab.
                                </p>
                                <div class="more">
                                    <a href="@Url.Action("EditarTienda")" title="Editar">
                                        Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="glyphicon glyphicon-lock"></i></div>
                            <div class="info">
                                <h3 class="title">Administr&aacute; tus productos</h3>
                                <p>
                                    Podes crear, editar y eliminar tus productos.
                                </p>
                                <div class="more">
                                    <a href="@Url.Action("Index", "Producto")" title="Administrar">
                                        Administrar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="glyphicon glyphicon-resize-small"></i></div>
                            <div class="info">
                                <h3 class="title">Vincul&aacute; tu tienda a Facebook</h3>
                                <p>
                                    Integr&aacute;  tu tienda con tus fanpages.
                                </p>
                                <div class="more">
                                    <a href="@Url.Action("Login", "Fanpage")" title="Vincular">
                                        Vincular
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <!-- /Boxes de Acoes -->
            </div>
        </div>
    </section>
}