﻿@model TotalCoin.Web.Models.CrearTiendaModel
@{
    ViewBag.Title = "Crea tu tienda";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
    <script type="text/javascript">
        $(function () {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagenTienda').attr('src', e.target.result);
                        $('#imagenTienda').parent().removeClass('no-visible');
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ImagenTab").change(function () {
                readURL(this);
            });
        });
    </script>

}

@section Body{

    @if (Model.NuevaTienda)
    {
        <section class="">
            <div class="container">
                <div class="row bs-wizard" style="border-bottom:0;">
                    <!--
                    ESTADOS DE LOS PASOS:
                     - active
                     - disable
                     - complete
                    -->

                    <div class="col-xs-4 bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Cre&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step disabled">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Agreg&aacute; tus productos</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>

                    <div class="col-xs-4 bs-wizard-step disabled">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Vincul&aacute; tu tienda</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                    </div>
                </div>
            </div>
        </section> <!-- end our-work-container -->
    }
    <section>
        <div class="container">
            @using (Html.BeginForm("GuardarTienda", "Tienda", FormMethod.Post, new { id = "crearTienda", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id, new { value = Model.Id })
                <div class="row" style="border-bottom:0;">
                    <div class="col-sm-12">
                        <h1 class="Titulo">Complet&aacute; los datos de tu tienda</h1>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="NombreTienda">Nombre de tu tienda</label>
                            <input type="text" name="Nombre" class="form-control" id="NombreTienda" placeholder="Ingres&aacute; el nombre de tu tienda" value="@Model.Nombre">
                            @if (ViewData.ModelState.ContainsKey("Nombre") && ViewData.ModelState["Nombre"].Errors.Count > 0)
                            {
                                <span class="error-mark error-right">
                                    <span data-toggle="tooltip" data-placement="top" title="@ViewData.ModelState["Nombre"].Errors[0].ErrorMessage" class="glyphicon glyphicon-remove"></span>
							    </span>
                            }
                        </div>
                        <div class="form-group">
                            <label for="NombreTienda">Comercio</label>
                            @Html.DropDownListFor(m => m.SelectedMerchantId, new SelectList(Model.Merchants, "Id", "Name"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewData.ModelState.ContainsKey("SelectedMerchantId") && ViewData.ModelState["SelectedMerchantId"].Errors.Count > 0)
                            {
                                <span class="error-mark error-right">
                                    <span data-toggle="tooltip" data-placement="top" title="@ViewData.ModelState["SelectedMerchantId"].Errors[0].ErrorMessage" class="glyphicon glyphicon-remove"></span>
							    </span>
                            }
                        </div>
                        <div class="form-group">
                            <label for="ImagenTab">Imagen del tab</label>
                            <div style="margin-bottom:5px;">
                                <img src="@Model.ArchivoImagen" width="111" height="74" id="imagenTienda" />
                            </div>
                            @Html.HiddenFor(m => m.ArchivoImagen)
                            @Html.TextBoxFor(m => m.Imagen, new { type = "file", id = "ImagenTab", value = Model.ArchivoImagen })
                            @if (ViewData.ModelState.ContainsKey("Imagen") && ViewData.ModelState["Imagen"].Errors.Count > 0)
                            {
                                <span class="error-mark error-right">
                                    <span data-toggle="tooltip" data-placement="bottom" title="@ViewData.ModelState["Imagen"].Errors[0].ErrorMessage" class="glyphicon glyphicon-remove"></span>
							    </span>
                            }
                            <p class="help-block">Esta imagen ser&aacute; el logo de tu app. Puedes cargar un archivo JPG, GIF o PNG. El tama&ntilde;o de la imagen debe ser 111 x 74 pixels. El peso no debe superar 1 MB.</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:40px">
                    <div class="col-sm-12">
                        @if (Model.NuevaTienda)
                        {
                            <a onclick="$('#crearTienda').submit();" class="btn bot btn-primary pull-right">SIGUIENTE</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Administrar")" class="btn bot btn-primary pull-left">VOLVER</a>
                            <a onclick="$('#crearTienda').submit();" class="btn bot btn-primary pull-right">GUARDAR</a>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}