﻿@{
    ViewBag.Title = "Tienda TotalCoin";
    Layout = Url.Content("~/Views/Shared/_LayoutPage.cshtml");
}

@section Head {
    <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/landing.css")" rel="stylesheet">
}

@section Body{
    <section class="our-work-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="our-work-inner-container">
                        <h4 class="title">Cre&aacute; tu tienda y administr&aacute; tus productos</h4>
                        <p class="content">Podes crear, editar y eliminar tus productos</p>
                    </div> <!-- end our-work-inner-container -->
                </div> <!-- end span8 -->
                <div class="col-sm-4 col-xs-12">
                    <section class="features-container v2">
                        <ul class="unstyled feature-list center">
                            <li class="feature-items">
                                <div class="feature center rocket">
                                    <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/rocket.png")" alt="rocket">
                                </div> <!-- end feature -->
                            </li>
                        </ul>
                        <figure class="arrow1 hidden-xs">
                            <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/arrow-1.png")" alt="img">
                        </figure>
                    </section> <!-- end features-container -->
                </div> <!-- end span4 -->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-sm-4 col-xs-12 hidden-xs">
                    <section class="features-container v2">
                        <ul class="unstyled feature-list center">
                            <li class="feature-items">
                                <div class="feature center camera">
                                    <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/camera.png")" alt="rocket">
                                </div> <!-- end feature -->
                            </li>
                        </ul>
                        <figure class="arrow2 hidden-xs">
                            <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/arrow-2.png")" alt="img">
                        </figure>
                    </section> <!-- end features-container -->
                </div> <!-- end span4 -->

                <div class="col-sm-8 col-xs-12">
                    <div class="our-work-inner-container">
                        <h4 class="title">Vincul&aacute; la tienda a tu fanpage</h4>
                        <p class="content">Podes agregar tu tienda a todas las fanpages que manejes.</p>
                    </div> <!-- end our-work-inner-container -->
                </div> <!-- end span8 -->
				
				 <div class="col-sm-4 col-xs-12 hidden-lg hidden-md hidden-sm" >
                    <section class="features-container v2">
                        <ul class="unstyled feature-list center">
                            <li class="feature-items">
                                <div class="feature center camera">
                                    <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/camera.png")" alt="rocket">
                                </div> <!-- end feature -->
                            </li>
                        </ul>
                        <figure class="arrow2 hidden-xs">
                            <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/arrow-2.png")" alt="img">
                        </figure>
                    </section> <!-- end features-container -->
                </div> <!-- end span4 -->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="our-work-inner-container" style="  padding-top: 15px;">
                        <h4 class="title">Empez&aacute; a vender en Facebook</h4>
                        <p class="content">Utiliz&aacute; TotalCoin y empez&aacute; a vender.</p>
                    </div> <!-- end our-work-inner-container -->
                </div> <!-- end span8 -->
                <div class="col-sm-4 col-xs-12">
                    <section class="features-container v2 last">
                        <ul class="unstyled feature-list center">
                            <li class="feature-items">
                                <div class="feature center graduate">
                                    <img src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/graduate.png")" alt="rocket">
                                </div> <!-- end feature -->
                            </li>
                        </ul>
                    </section> <!-- end features-container -->
                </div> <!-- end span4 -->
            </div> <!-- end row -->

            <div class="row" style="margin-top:40px">
                <div class="col-sm-12">
                    <a href="@Url.Action("EditarTienda")" class="btn bot btn-primary pull-right">CREÁ TU TIENDA</a>
                </div>
            </div>
        </div><!--  end container -->
    </section> <!-- end our-work-container -->
}