﻿@{
    ViewBag.Title = "Tienda Totalcoin";
    Layout = "~/Views/Shared/_FacebookLayoutPage.cshtml";
}

@section Head{
    <script type="text/javascript">
        var productos = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Productos));
        var paginaActual = @Model.Pagina;
        var cantPaginas = @Model.CantPaginas;
        var pageID = @Model.PageID;
        var appID = @Model.AppID;
    </script>
}

@section Body{
<div ng-controller="tiendaFacebook" style="width:750px">
    <section class="">
        <div class="container" >
            <div class="row">
                <div class="col-sm-8">
                    <div id="drop" class="ui floating labeled icon dropdown button">
                        <i class="dropdown icon"></i>
                        <span id="showname" class="text">{{ subcategoriaSeleccionada && subcategoriaSeleccionada.Nombre || 'Todos'}}</span>
                        <div class="menu">
                            <div class="item" ng-click="seleccionarCategoria(null)" >
                                <span class="text">Todos</span>
                            </div>
                            <div ng-click="seleccionarCategoria(categoria)" class="item" ng-repeat="categoria in categorias">
                                <span class="text">{{categoria.Nombre}}</span>
                                <i class="glyphicon glyphicon-menu-right"></i>
                                <div class="right menu">
                                    <div ng-click="seleccionarCategoria(subcategoria); $event.stopPropagation();" class="item" ng-repeat="subcategoria in categoria.Subcategorias">{{subcategoria.Nombre}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input ng-model="textoBuscar" type="text" class="form-control input-lg" placeholder="Buscar..." />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- end our-work-container -->
    <section id="Listado-tienda">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" ng-show="!(productos | filter: mostrarProducto()).length">
                No se encontraron productos
                </div>
                <div class="col-sm-3" ng-repeat="producto in productos | filter: mostrarProducto()">
                    <div class="thumbnail">
                        <a href="@Url.Action("Detalle", "Producto")/{{producto.Id}}?enTienda=true&fanpageId=@Model.PageID">
                            <div class="vcenter">
                                <img ng-src="{{producto.Imagenes[0] || '@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/img/nofoto.jpg")'}}" class="img-responsive" fix-margin/>
                            </div>
                            <div class="caption">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5>{{producto.Nombre}}</h5>
                                    </div>
                                    <div class="col-sm-12 price">
                                        <h5>
                                        <label>$ {{producto.Precio | formatPrice}}</label></h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="text-center">
						    <div fb-like="'https://apps.facebook.com/'" fb-id="pageID" app-id="appID" product-id="producto.Id"></div>
					    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" style="margin: 0px;">
                <nav>
                    <div class="text-center">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="javascript:void(0)" ng-click="paginaAnterior()" aria-label="Previous" ng-show="paginaActual != 1 && paginaActual">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <span aria-hidden="true" ng-hide="paginaActual != 1 && paginaActual">&laquo;</span>
                            </li>
                            <li ng-repeat="i in cantidadDePaginasArray track by $index">
                                <a href="javascript:void(0)" ng-click="irAPagina($index + 1)" ng-show="$index+1 != paginaActual">{{$index+1}}</a>
                                <span ng-hide="$index+1 != paginaActual">{{$index+1}}</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="paginaSiguiente()" aria-label="Next" ng-show="paginaActual != cantPaginas">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <span aria-hidden="true" ng-hide="paginaActual != cantPaginas">&raquo;</span>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</div>
}

@section Footer{
    <script>
        //$('.ui.dropdown').dropdown();

        setTimeout(function(){
            $('.ui.dropdown').dropdown();
            $('#drop .item').click(function( ) {
                $("#drop .text").css('font-weight','normal')
                $(".text",this).css('font-weight','bold')
                $('#showname',$('#drop')).html($(this).html());
                $("#drop").removeClass('active')
                $("#drop").removeClass('visible')
                $(".menu").removeClass('visible')
                $(".menu").addClass('hidden')
            });
        },500);
	</script>
}