﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Tienda TotalCoin</title>

        <!-- Bootstrap -->
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/main.css")" rel="stylesheet">
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/dropdown.min.css")" rel="stylesheet">
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/semantic.css")" rel="stylesheet">
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/owl.carousel.css")" rel="stylesheet">
        <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/owl.theme.default.min.css")" rel="stylesheet">
        <link rel="stylesheet" href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/font-awesome.min.css")">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900,900italic" rel="stylesheet" type="text/css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        @RenderSection("Head", false)
    </head>
    <body class="fbapp" ng-app="TiendaTCFB">
        <!--<div id="fb-root"></div>-->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '370604259802423',
                    xfbml: true,
                    version: 'v2.3'
                });
				 FB.Canvas.setAutoGrow(1000);
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        @RenderSection("Body")

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery-2.1.3.min.js")" type="text/javascript"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/semantic.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/dropdown.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/owl.carousel.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery.zoom.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/angular.min.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/app.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/controllersFB.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/services2.js")"></script>
        <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/directivesFB.js")"></script>
        @RenderSection("Footer", false)
    </body>
</html>