﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/main.css")" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/dropzone/dropzone.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/css/font-awesome.min.css")">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery-ui.js")" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/dropzone/dropzone.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/table.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/angular.min.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/app.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/controllers.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/directives.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/services2.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/angular-input-masks.min.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/underscore-min.js")"></script>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery.autonumeric.js")"></script>
    @RenderSection("Head", false)
</head>
<body ng-app="TiendaTC">

    @RenderSection("Body")
</body>
</html>