﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TotalCoin</title>
    <style>
        div.Overlay {
            position: fixed;
            z-index: 99;
            top: 0px;
            left: 0px;
            background-color: #F1F1F1;
            width: 100%;
            height: 100%;
            filter: Alpha(Opacity=80);
            opacity: 0.8;
            -moz-opacity: 0.8;
        }
    </style>
</head>
<body>
    <div class="Overlay">
        <img src="https://az653149.vo.msecnd.net/static/assets/img/spinner-md.gif" style="position:fixed; top: 30%; left: 50%; margin-top: -64px; margin-left: -67px;" />
    </div>
    <script src="@Url.Content("https://az653149.vo.msecnd.net/static/totalcoinstore/js/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("WarmupEF", "Tienda")',
            data: { },
            success: function (data) {
                if (data.success)
                    window.location.replace('@Url.Action("InitStore", "Tienda")?appKey=@ViewBag.AppKey&email=@ViewBag.Email');
    }
    });
    });
</script>
</body>
</html>
